@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}


body {
    background-image: url('./img/trabalho.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área visível */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Garante que a imagem não se repita */
}



.posicao{
    margin: 70px;   
    margin-top: 120px;
    margin-left: 20px;
}

.conteiner{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
header{
    background-color:#ffff;
    width: 100%;
    padding: 10px;

}
.social,.logo{
    width: 25%;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #000;
    text-decoration: none;
    padding-right: 50px;
    font-size: 16px;

}

.logo img{
    width: 110px;
    
}

.social button{
    width: 40px;
    right: 40px;
}

.social button i{
    font-size: 20px ;
}

